   /* 
 Name: Cinque Preston
 File: homework1.css
 Date Created: 2026-02-20
 Date Updated: 2026-02-26
 Purpose: Style sheet for MIS 3371 HW1
 */
 body {
    background-color: rgb(202, 230, 255);
    font-family: "Source Sans Pro", sans-serif;
}
table.form, tr.form, td.form {
  width: 100%;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(255, 255, 255);
  padding: 0px;
  border-spacing: 12px;
  color:rgb(0, 0, 0);
}
